<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="Contexto"
			 connectionString="Data Source=SQL9001.site4now.net;Initial Catalog=db_ac2161_pedidos360;User ID=db_ac2161_pedidos360_admin;Password=Carlosgp135;MultipleActiveResultSets=True;"
			 providerName="System.Data.SqlClient"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
	</connectionStrings>

	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
</configuration>